body {
  font-size: 32px;
  margin: 0;
}
.parent {
  background: blue;
  padding: 10px;
  height: 60vh;

  /* flex */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.parent > div {
  background: grey;
  margin: 10px;
  width: 70px;
  height: 70px;
  /*flex*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.parent > div:nth-child(odd) {
  background: red;
}
.item-4 {
  align-self: flex-start;
}
.item-6 {
  align-self: flex-end;
}
.item-8 {
  order: -1;
}
